In [1]:
import pandas as pd
import numpy  as np
from sklearn  import linear_model

In [2]:
df = pd.read_csv("homePrices.csv")
df

   area  bedRoom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  560000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [3]:
import math 
median_bedRoom = math.floor(df.bedRoom.median())
median_bedRoom

3

In [5]:
df.bedRoom =df.bedRoom.fillna(median_bedRoom)
df

   area  bedRoom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  560000
2  3200      3.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [6]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedRoom','age']],df.price)

LinearRegression()

In [7]:
reg.coef_

array([   141.5, -29850. ,  -7050. ])

In [8]:
reg.intercept_

386650.0000000001

In [9]:
reg.predict([[3000,3,40]])

array([432550.])

In [10]:
141.5*3000 -29850.*3  -7050.*40

52950.0

In [ ]:
reg.predict([[2500,4,5]])

In [11]:
141.5*2500 -29850.*4 -7050.*5

199100.0